html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}


.datepicker {
    display: inline-block;
    text-align: center;
}

.centerthis{
    margin-left: auto;
    margin-right: auto;
}